.mandalViewChanger {
    border: 5px solid #000;
    width: 375px;
    height: 50px;
    padding: 0 30px;
    background-color: #5ace95;
}
.plannerSelectBox {
    width: 196px;
    height: 26px;
    border: none;
    font-family: Archivo;
    font-size: 24px;
    font-weight: 800;
    top: calc(50% - 13px);
    position: relative;
    background-color: #ffffff00;
}
.myText {
    border-left: 1px solid #707070;
    font-size: 20px;
    padding: 0 34px;
    top: calc(50% - 15px);
    position: relative;
    left: 18px;
}
