.mandalart-container-wrapper {
    width: 1560px;
    display: flex;
    justify-content: center;
    padding: 45px;
}

.mandalart-container {
    border: 3px solid #707070;
}

.mandalart-container.view {
    box-shadow: 30px 30px 0 #bfbfbf;
}

.description-container {
    padding: 0 17px;
    background-color: #fad83b;
    font-size: 16px;
}

.description-container .pixel {
    padding-left: 10px;
}

.devider {
    height: 3px;
    background-color: black;
}

.title {
    padding: 17px 0;
}

.title > .bold {
    font-size: 20px;
}

.contents {
    padding: 17px 0;
}

.mandal-big-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 3px solid #707070;
}

.mini-container {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 1px;
    row-gap: 1px;
}

.button-wrapper {
    margin-top: 33px;
    display: flex;
    justify-content: flex-end;
}
