body {
    overflow-x: hidden;
}
.mandalSmallList {
    width: calc(100% - 280px);
}
.wrapMandallist {
    display: flex;
}
.myText {
    border-left: 1px solid #707070;
    font-size: 20px;
    padding: 0 34px;
    top: calc(50% - 15px);
    position: relative;
    left: 18px;
}
.fourMandals {
    display: flex;
    justify-content: flex-start;
    width: 90rem;
    margin: 0 auto;
    min-width: 1450px;
    flex-wrap: wrap;
}
.fourMandals > div {
    margin: 20px 35px;
    /* margin-right: 70px; */
}

.mandalsTitle {
    font-size: 22px;
    font-weight: 600;
    width: 100%;
    margin: 60px auto 0 auto;
    left: 35px;
    position: relative;
}
/* new design */
.gridContainer {
    display: grid;
    width: 1440px;
    /* width: 90%; */
    height: 744px;
    /* height: 70vh; */
    border: 4px solid #707070;
    box-shadow: 29px 24px 1px #969696;
    margin-top: 55px;
    padding: 36px 43px;
    grid-template-columns: 2fr 1.2fr 2fr 1fr 115px;
    grid-template-rows: 1fr 1fr;
    gap: 30px 40px;
}
.gridItem:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 4px solid #707070;
    box-shadow: 15px 15px 0px #969696;
    /* margin: 0 40px 50px 0; */
    /* background-color: red; */
}
.myMiniProfile {
    height: 70%;
    border-bottom: 4px solid #707070;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.myMiniProfile .profileImg {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 97px;
    height: 97px;
    margin-bottom: 12px;
}
.myMiniProfile .userName {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}
.myMandalResolution {
    height: 30%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gridItem:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 4px solid #707070;
    /* margin-bottom: 50px; */
    padding: 12px 34px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    /* background-color: blue; */
}
.monthlyTitle {
    font-size: 20px;
    font-weight: 800;
}
.progressAlign {
    display: flex;
    justify-content: space-between;
}
.gridItem:nth-child(3) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    /* background-color: orange; */
}
.gridItem:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    /* background-color: green; */
}
.currentMandals {
    display: flex;
    justify-content: flex-start;
    width: 90rem;
    margin: 0 auto;
    flex-wrap: wrap;
}
.currentMandals > div {
    margin: 30px 40px 0 0;
}
.currentMandalTitle {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
}
.finishedMandalTitle {
    display: inline-block;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}
.gridItem:nth-child(5) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    /* background-color: yellow; */
}
.finishedMandals {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.finishedMandals > div {
    margin-top: 30px;
    margin-right: 20px;
}
.goMandalandBtn {
    background-color: #000;
    border-radius: 57px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 10px 10px 1px #00000040;
}
.goMandalText {
    color: #fff;
    margin-right: 10px;
}
.wrapGoText {
    display: flex;
    margin-top: 25px;
    font-weight: 600;
    font-size: 20px;
}
