body {
	overflow-x: hidden;
}
.tempNav {
	width: 280px;
	min-width: 102px;
	height: 100vh;
	background-color: #000;
}
.mandalSmallList {
	width: calc(100% - 280px);
	margin: 0 auto;
	padding: 52px 80px;
}
.wrapMandallist {
	margin-top: 80px;
	display: flex;
}
.fourMandals {
	display: flex;
	justify-content: flex-start;
	width: 90rem;
	margin: 0 auto;
	min-width: 1450px;
	flex-wrap: wrap;
}
.fourMandals > div {
	margin: 20px 35px;
	/* margin-right: 70px; */
}
.mandalsTitle {
	font-size: 22px;
	font-weight: 600;
	width: 100%;
	margin: 60px auto 0 auto;
	left: 35px;
	position: relative;
}
