body {
    overflow-x: hidden;
}
.mandalSmallList{
    width: calc(100% - 280px);
}
.wrapMandallist {
    display: flex;
}
.myText {
    border-left: 1px solid #707070;
    font-size: 20px;
    padding: 0 34px;
    top: calc(50% - 15px);
    position: relative;
    left: 18px;
}
.fourMandals {
    display: flex;
    justify-content: flex-start;
    width: 90rem;
    margin: 0 auto;
    min-width: 1450px;
    flex-wrap: wrap;
}
.fourMandals > div {
    margin: 20px 35px;
    /* margin-right: 70px; */
}
.mandalsTitle {
    font-size: 22px;
    font-weight: 600;
    width: 100%;
    margin: 60px auto 0 auto;
    left: 35px;
    position: relative;
}
.mandalViewChanger {
    border: 5px solid #000;
    width: 375px;
    height: 50px;
    padding: 0 30px;
    box-sizing: border-box;
}
.plannerSelectBox {
    width: 196px;
    height: 26px;
    border: none;
    font-size: 24px;
    font-weight: 800;
    top: calc(50% - 13px);
    position: relative;
}
