.goal {
    width: 111px;
    height: 68px;
    text-align: center;
    line-height: 65px;

    background-color: white;
    box-shadow: 0 0 0 1px #707070;
    cursor: pointer;
}

.goal.keyword {
    background-color: #fef7d8;
    cursor: default;
}

.center-mandal .goal {
    cursor: default;
}

.center-mandal .goal.keyword {
    background-color: black;
    color: white;
    font-weight: bold;
}
